.about__content {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: clamp(1rem, 10vw, 5rem);
    background-color: #c9e2f9;
}
.about__image {
    width: clamp(100px, 40vw, 500px);
    border-radius: 50%;
    object-fit: cover;
    align-self: center;
}
.about__description {

}
.about_description_title {

}
.about__description_text {

}