.footer__content {
    display: flex;
    width: 100%;
    flex-direction: row;
    padding: 1rem;
    justify-content: space-between;
}
.footer__content_contact {

}
.footer__contact_title {

}
.footer__contact_text {

}
.footer__content_social {
    display: grid;
    align-self: center;
    grid-template-columns: repeat(2, minmax(20px, 1fr));
    gap: 10px;

}
.footer__social_link{
    width: 30px;
    height: 30px;
}
.footer__social_icon {
    width: 30px;
    height: 30px;
}