.footer__content {
    display: flex;
    width: 100%;
    flex-direction: row;
    padding: clamp(1rem, 10vw, 5rem);
    justify-content: space-between;
    gap: clamp(1rem, 3vw, 2rem);
}
.footer__content_contact {

}
.footer__contact_title {

}
.footer__contact_text {

}
.footer__content_social {
    display: grid;
    align-self: center;
    grid-template-columns: repeat(2, minmax(20px, 1fr));
    gap: clamp(1rem, 3vw, 2rem);
}
.footer__social_link{
    width: clamp(30px, 10vw, 50px);
    height: clamp(30px, 10vw, 50px);
}
.footer__social_icon {
    width: clamp(30px, 10vw, 50px);
    height: clamp(30px, 10vw, 50px);
}