.popup {
    display: flex;
    position: fixed;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    
}

.popup__content_documents,
.popup__content_contact,
.popup__content_command,
.popup__content_other {
    position: relative;
    display: flex;
}

.popup__content_documents {
    width: var(--popup-doc-width);   
}
.popup__content_contact {
    width: var(--popup-width);
            
}
.popup__content_command, .popup__content_other {
    width: var(--popup-width);
}
.popup__container {
    width: 100%;
    padding-top: calc(40px + clamp(8px, 2vw, 15px));
}
.popup__documents{
    display: flex;
    
    overflow: hidden;  
}

.popup__contact{
    display: flex;
    
    
    
}

.popup__close_button {
    padding: 0;
    margin: 10px 10px 0 0;
    position: absolute;
    right: clamp(5px, 1vw, 40px);
    background-color: rgba(0, 0, 0, 0);
    height: 40px;
    width: 40px;
    background-image: url(../images/close-icon.png);
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    z-index: 10;
}

.popup__close_button:hover {
    opacity: 60%;
    cursor: pointer;
}
