
@import './Vendor/normalize.css';
@import './Vendor/fonts.css';

:root {
    --popup-doc-width:clamp(300px, calc(300px + (1270 - 300) * (100vw - 340px) / (1440 - 340)), 1270px);
    --popup-width:clamp(300px, calc(300px + (1270 - 300) * (100vw - 340px) / (1440 - 340)), 550px);
}

html, body {
    background-color: #0a0f1c;
    color: #e2e8f0;
    overflow-x: hidden;
    min-width: 320px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}