
@import './Vendor/normalize.css';
@import './Vendor/fonts.css';
.html, body {
    background-color: #0a0f1c;
    color: #e2e8f0;
    overflow-x: hidden;
    min-width: 320px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}